

.miBackground{
	/*background-color:blue;*/
	height: 100vh
}

.navbar-scrolled{
	background-color: #fff;
}

.pantalla_codigo{
    height: 50%;
    width: 50%;
    display: flex;
    margin: auto;
    box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.5);
    border-radius: 7px;
    overflow: hidden;
    box-sizing: border-box;
    background-color:#607D8B;
    
}




.css-typing p {
  border-right: .15em solid white;
  white-space: nowrap;
  overflow: hidden;
	color: #FFEB3B;
	font-size: 2vh;
}
.css-typing p:nth-child(1) {
  width: 12em;
  -webkit-animation: type 3s steps(20, end) , blink .5s step-end infinite alternate;
  animation: type 3s steps(20, end) , blink .5s step-end infinite alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width:20em;
  opacity: 0;
  -webkit-animation: type2 3s steps(20, end) , blink .5s step-end infinite alternate;
  animation: type2 3s steps(20, end) , blink .5s step-end infinite alternate;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 24em;
  opacity: 0;
  -webkit-animation: type2 3s steps(20, end) , blink .5s step-end infinite alternate;
  animation: type2 3s steps(20, end) , blink .5s step-end infinite alternate;
  -webkit-animation-delay: 5s;
  animation-delay: 6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(4) { 
  width: 15em;
  opacity: 0;
  -webkit-animation: type2 3s steps(20, end), blink .5s step-end infinite alternate;
  animation: type2 3s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 5s;
  animation-delay: 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(5) { /* </div>*/
  width: 3em;
  opacity: 0;
  -webkit-animation: type2 1s steps(30, end), blink .5s step-end infinite alternate;
  animation: type2 1s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 5s;
  animation-delay: 15s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(6) {/* </div>*/
  width: 3em;
  opacity: 0;
  -webkit-animation: type2 3s steps(30, end), blink .5s step-end infinite alternate;
  animation: type2 3s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 5s;
  animation-delay: 20s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(7) {
  width: 3em;
  opacity: 0;
  -webkit-animation: type2 3s steps(20, end), blink .5s step-end infinite alternate;
  animation: type2 3s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 5s;
  animation-delay: 25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(8) {
  width: 10em;
  opacity: 0;
  -webkit-animation: type2 3s steps(20, end), blink .5s step-end infinite alternate;
  animation: type2 3s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 5s;
  animation-delay: 30s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(9) {
  width: 20em;
  opacity: 0;
  -webkit-animation: type2 3s steps(20, end), blink .5s step-end infinite alternate;
  animation: type2 3s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 5s;
  animation-delay: 35s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.css-typing p:nth-child(10) {
  width: 20em;
  opacity: 0;
  -webkit-animation: type3 3s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 3s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 5s;
  animation-delay:405s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid white;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid white;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid white;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid white;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
.etiqueta_color{
	color: #CD233D;
}

/* card */
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

.presentacion{
    height: 50%;
    width: 50%;
    display: flex;
    margin: auto;
    box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.5);
    border-radius: 7px;
    overflow: hidden;
    box-sizing: border-box;
    background-color:aliceblue;
    
}




.presentacion .img img{
    margin: 30px;
    border-radius: 2px;
    height: 50%;

 
} 
.presentacion .img{
    width: 25%;
    /*background-color: fuchsia;*/
    height: 85%;
    padding-left: 10%;
    
}

body{
    background-image: url(img/fondorosa.jpg);
    background-size: contain;
	/* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn’t tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
background-attachment: fixed;

/* This is what makes the background image rescale based
on the container’s size */
background-size: cover;
    /*font-family:'Lobster', cursive;*/
}

.producto-info{
    /*background-color:aqua;*/
    height:80%;
    width: 75%;
    text-align:center;
    padding: 10px;
}

.sociales .fab{
    font-size:40px;
    margin: 15px;
}

.sociales a{
    width: 45px;
    height: 45px;
   text-decoration-line: none;
    color:darkorchid;
}

.sociales a:hover{
    background-color: darkorchid;
    color:white;
}

.texto{
    height: 70%;
}
.sociales{
    /*background-color: pink;*/
    position:static;
    margin: 10%;
}

@media(max-width:820px){
	.pantalla_codigo{
    height: 80%;
    width: 100%;
    display: flex;
    margin: auto;
    box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.5);
    border-radius: 7px;
    overflow: hidden;
    box-sizing: border-box;
    
	}
    .presentacion{
        height: 80%;
        width: 100%;
        flex-direction: column;
    }
    .presentacion .img img{
    margin: 20px;
    border-radius: 1px;    
 
}
    .presentacion .img{
    width: 100%;
   /* background-color: fuchsia;*/
    height: 50%;
    
}
    .sociales{
    margin: 10%;    
    }
}


/* fin card */

